1 VERSIONINFO
FILEVERSION 2, 6, 0, 0
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "FileDescription", "The cross platform IA-32 emulator"
   VALUE "FileVersion", "2.6"
   VALUE "LegalCopyright", "GNU Lesser General Public License"
   VALUE "ProductName", "Bochs"
   VALUE "ProductVersion", "Built from SVN snapshot on September 2nd, 2012"
  }
 }
}
